<link rel="stylesheet" href="/css/cadastro.css">
<h1>Cadastro de produtos</h1>
<br>
<form action="/cadastrar" method="post">
    <label for="verduras">Nome da Verdura: </label>
    <input type="text" name="verduras"><br>

    <label for="qntd">Quantidade da Verdura: </label>
    <input type="text" name="qntd"><br>

    <label for="preco_unit">Preço Unitário: </label>
    <input type="text" name="preco_unit"><br>

    <button type="submit">Cadastrar</button>
</form>