<h1>Pesquise um produto na loja:</h1>
<br>
<form action="/pesquisar" method="post">
<label for="codigo">Código:</label><br>
<input type="text" name="codigo" placeholder="Insira o código do produto">
<br><br>
<button type="submit">Pesquisar</button>
</form>